@import url('https://fonts.googleapis.com/css?family=Roboto');



body {
    font-family: 'Roboto', sans-serif;
}



/* -------------------logo search -------------------*/



/* -------------------menu ----------------------------------*/

.navbar {
  margin: 0 -15px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 0.875rem;
  white-space: nowrap;
  text-align: center;
}

.navbar-nav {
  padding-right: 0 !important;
}

.nav-item {
  padding: 0 !important;
  min-height: 37px !important;
}

.nav-link {
  color: black;
}

.nav-item.active .nav-link{
  background: #FFC740;
  color: white;
}

.nav-link:hover {
  background: #FFC740;
  color: black;
}

/* ------------------- big image---------------------------------*/

.big-image {
  height: 332px;
  background: url("https://s3-alpha.figma.com/img/2a16/4a66/f8b1a52173c4744df41e2f05da64bc9e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T082822Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=33f10a08929c2417b831bb90d851d66b32cf04edd13bc9917a808741a21a33f0") 50% 80% no-repeat;
    background-size: cover;
}

.big-image-darkener {
  background-color: rgba(0, 0, 0, 0.38);
}

.big-image-text {
  color: white;
}

.big-image-text h1 {
  font-size: 4rem;
  font-weight: normal;
  color: #FFC740;
  line-height: 4rem;
}

.big-image-text .btn-info {
  background: #6D3D99;
  border: none;
}

/* ------------------- posts---------------------------------*/


.heading {
  background: #9B51E0;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  margin-top: 1rem !important;
   padding-left: 1.6rem !important;
}

.heading span {
  background: white;

  font-weight: bold;
  padding: 2px 0.3rem;
}

.post-text {
  font-size: 0.75rem;
  text-align: justify;
  padding-right: 0 !important;
}

.post-text a {
  text-decoration: underline;
  color: black;
}



.image {
  width: 100%;
  padding-top: 100%;
  border: 2px solid white;
  outline: 2px solid #FFC740;
}

.posts-line1 .left .post-side .image {
  background: url("https://s3-alpha.figma.com/img/6bbb/1a96/54530f2df310195e9e731c151ece672d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T115617Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=cd6af598f8b2d11e0daf86630465e95e5d2351c458f05ad134f54e9f7e0dde1e") 40% no-repeat;
   background-size: 120%;

}

.posts-line1 .right .heading {
  background: #FFC740;
}

.posts-line1 .right .post-side .image {
  background: url("https://s3-alpha.figma.com/img/12b2/f0ee/cac5074b0c0cc90f9c27125fe47221e3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T124525Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=24828ff5fdf021a4e53b4bf2894f772d123d17005f91931cada7e4c3c07f34aa") 40% 0 no-repeat;
  background-size: 190%;
}

.posts-line2 .left .heading {
  background: #FFC740;
}

.posts-line2 .left .post-side .image {
  background: url("https://s3-alpha.figma.com/img/a713/469c/25d71a72cabca78095afe561961c06f3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T124846Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=f3f9146036d1bb56bfafea9c8982381fc94459c15cd40c6da6db236fc798fc7b") 40% 0 no-repeat;
  background-size: 120%;
}

.posts-line2 .right .post-side .image {
  background: url("https://s3-alpha.figma.com/img/26c8/c86d/fc8ea0be2acb6ce33c1f6099a60fcda6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T124953Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=36b6c3b9a844184393e2664839d976ecf0a02f6bffe297f98ecc8abf2f89a40a") 30% 0 no-repeat;
  background-size: 150%;
}

/* ------------------- services---------------------------------*/

.services a {
  text-decoration: underline;
  color: black;
}

.services p,
.services .item-heading {
  font-size: 0.75rem;
}

.services div:nth-child(1) .heading,
.services div:nth-child(3) .heading{
  background: #FFC740;
}

.item-image {
  width: 100%;
  padding-top: 100%;
  border: 1px solid #C4C4C4;
}

.middle .item-image.image1 {
  background: url("https://s3-alpha.figma.com/img/e18f/27bb/9639cbd019b8a0032d825590d431db07?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T132953Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=030d7473f631764d270080102bcf0eadac3273700f12b994643f15286af382f9") 20% 0 no-repeat;
  background-size: cover;
}

.middle .item-image.image2 {
  background: url("https://s3-alpha.figma.com/img/fd2c/b7a8/bda7499d07d29ee08b52588939e2c703?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T133914Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=78de7298d31c0b4c6b5088898c7da043e0d98fcf2f7493819b3737f94fbf604c") 50% 0 no-repeat;
  background-size: cover;

}

.middle .item-image.image3 {
  background: url("https://s3-alpha.figma.com/img/c26e/f401/11ee000b1576c1c889a015f6886a4451?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T134135Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=374e413f62972f540e0417bb6419ce18801b133b4a8a98ec4be17dafcd794b19") 50% 0 no-repeat;
  background-size: cover;
}

/*------------------------clients------------------------------*/

.clients {
  padding: 0 15px;
}


.clients .heading {
  margin-left: 0;
}
.client-images {
  margin: 0 !important;
}

.client-images li {
  padding: 1rem;
}

.client-images a {
  display: block;
  margin: 0 auto;
}

.client-images li:nth-child(1) a {
  background: url("https://s3-alpha.figma.com/img/485e/67c9/970732fd3a404f5f29a19596a667236b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T134826Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=e87cebb40168caa445a482e4e3baa47e161b4920c1695536a1601350518ea99a") 0 0 no-repeat;
  background-size: contain;
  width: 70%;
  padding-top: 100%;
}

.client-images li:nth-child(2) a {
  background: url("https://s3-alpha.figma.com/img/f6f3/150d/a2cd775dea45593bff9861a4ff221c93?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T135333Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=2d9413bbcbae68cb13bd4c3cbec0ad942093c80a19030464522a7eb9e143406b") 0 0 no-repeat;
 background-size: contain;
width: 70%;
  padding-top: 100%;
}

.client-images li:nth-child(3) a {
 background: url("https://s3-alpha.figma.com/img/7c87/0321/0b43c4cfa1519dd01d96146bde7d46e8?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T135410Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=4e49c96e278c3c0072b3c1eef9f4263994ae3af239b9fc28d8e2100c3f7948c1") 0 0 no-repeat;
 background-size: contain;
width: 130%;
  padding-top: 100%;
}

.client-images li:nth-child(4) a {
  background: url("https://s3-alpha.figma.com/img/ad52/d1a3/2cd1b02c3ba5558a6bc24e5a0e95bfbc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T135435Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=5bdbdaf454baa8565fb68510d3040344aed89e7ce7b6d28482e0692f862ce683") 0 0 no-repeat;
  background-size: contain;
width: 100%;
  padding-top: 100%;
}

.client-images li:nth-child(5) a {
  background: url("https://s3-alpha.figma.com/img/4922/f02b/482433322c61675a9780b9999a2c64a4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T135500Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=b05b51521c23dcdd3ad2a4c42163a40760dca3704d1809110c837d667eafb93b") 0 0 no-repeat;
background-size: contain;
width: 100%;
  padding-top: 100%;
}


/*------------------------footer----------------------------------*/

.footer {
  height: 115px;
  background: #6D3D99;
  font-size: 0.875rem;
  color: white;
  font-weight: bold;
  line-height: 115px;
}


