/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="text"] {
  outline: 0;
  box-shadow: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  font-weight: 100;

}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container-for-sticky-footer {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.progress-bar {
  border: 2px solid #9B51E0;
  margin: 0;
}


/* -------------------menu ----------------------------------*/


/*
 Default styles + Mobile first
 Offscreen menu style
*/

.menu {
  position: absolute;
  width: 200px;
  right: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: right 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
  margin-top: -16px;
}

.xs-nav-body {
  list-style: none;
  /* Hide shadow w/-8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
  -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
  box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
  min-height: 100%;
  background: white;
  padding-top: 70px;
}

.menu-close__link {
  position: absolute;
  right: 80%;
  top: 25px;
  font-size: 3rem;
  color: #FFC740;
}

header {
  display: flex;
  align-items: baseline;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}


/*
 On small devices, allow it to toggle...
*/

.menu:target {
  right: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}

.menu:target .menu-close__link {
  z-index: 1001;
}

.menu:target .xs-nav-body {
  position: relative;
  z-index: 1000;
}


/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/

.menu:target+.backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

@supports (position: fixed) {
  .menu,
  .menu:target+.backdrop {
    position: fixed;
  }
}

.sm-nav-body {
  display: none;
}


/*
 Larger screen styling
 Horizontal menu
*/

.search {
  display: flex;
}

.search_big-screen {
  display: none;
}

.search_small-screen {
  height: 20px;
}

.search__field {
  height: 100%;
  display: flex;
  padding: 0 0 0 10px;
}

.search__field_violet-border {
  border: 1px solid #6D3D99;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.search__btn {
  display: flex;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding: 0 2%;
}

.search__btn_violet {
  color: white;
  background-color: #9B51E0;
  height: 22px;
  line-height: 22px;
  font-weight: bold;
}

.menu-close__link {
  text-decoration: none;
  display: flex;
  line-height: 20px;
}

.xs-nav-body__link {
  text-decoration: none;
  color: black;
  display: flex;
  height: 2rem;
  line-height: 2rem;
  justify-content: center;
}

.xs-nav-body__link:hover {
  background: #FFC740;
}

.xs-nav-body__link_active {
  background: #FFC740;
  color: white;
  margin-top: 20px;
}

.logo {
  display: flex;
  position: relative;
  animation: pulse 1s infinite;
  animation-play-state: paused;
}

.logo:hover {
  animation-play-state: running;
}


.logo__square {
  height: 48px;
  width: 50px;
  border: 3px solid #FFC740;
}

.logo__text {
  position: absolute;
  height: 26px;
  min-width: 14px;
  top: 12px;
  left: 22px;
  background: white;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  white-space: nowrap;
}

.menu-toggle {
  position: fixed;
  top: 1rem;
  right: 0;
  text-decoration: none;
  font-size: 3rem;
  color: #FFC740;
  border: 0;
  outline: 0;
}


/* ------------------- big image---------------------------------*/

.big-image {
  min-height: 332px;
  background: url("https://s3-alpha.figma.com/img/2a16/4a66/f8b1a52173c4744df41e2f05da64bc9e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T082822Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=33f10a08929c2417b831bb90d851d66b32cf04edd13bc9917a808741a21a33f0") 50% 80% no-repeat;
  background-size: cover;
}

.big-image__content {
  min-height: 332px;
  padding: 1.5rem;
}

.big-image__content_blur {
  background-color: rgba(0, 0, 0, 0.38);
  animation: blink 5s alternate infinite;
}

@keyframes blink {
  0% {opacity: 0.5;}
  100% {opacity: 1;}
}


.big-image__heading {
  font-size: 3rem;
  color: #FFC740;
  font-weight: 300;
  animation: fadeInLeft 1s 2s backwards;
}



.big-image__text {
  line-height: 1rem;
  font-size: 0.75rem;
  font-weight: 100;
  color: white;
  margin-bottom: 1rem;
  animation: fadeInLeft 1s 3s backwards;
}

.big-image__btn {
  background: #6D3D99;
  border: none;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  animation: fadeInLeft 1s 4s backwards;
}


/* ------------------- posts---------------------------------*/

.post {
  flex-direction: column;
  margin: 1.5rem 1rem 3% 1rem;
}

.post__article {
  text-align: justify;
  font-size: 0.75rem;
  line-height: 1.2rem;
  margin-top: 1rem;
}

.post__color-block {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.post__color-block_violet {
  background: #9B51E0;
}

.post__color-block_yellow {
  background: #FFC740;
}

.post__heading {
  font-size: 0.875rem;
  background: white;
  letter-spacing: -0.06rem;
  font-weight: 700;
  padding: 0.3rem;
}

.post__link {
  color: black;
}

.post__image {
  width: 50%;
  padding-bottom: 50%;
  border: 2px solid white;
  outline: 2px solid #FFC740;
  margin: 0 auto;
}

.post__image_dog {
  background: url("https://s3-alpha.figma.com/img/6bbb/1a96/54530f2df310195e9e731c151ece672d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T115617Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=cd6af598f8b2d11e0daf86630465e95e5d2351c458f05ad134f54e9f7e0dde1e") 40% no-repeat;
  background-size: 120%;
}

.post__image_jobs {
  background: url("https://s3-alpha.figma.com/img/12b2/f0ee/cac5074b0c0cc90f9c27125fe47221e3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T124525Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=24828ff5fdf021a4e53b4bf2894f772d123d17005f91931cada7e4c3c07f34aa") 40% 0 no-repeat;
  background-size: 190%;
}

.post__image_lemur {
  background: url("https://s3-alpha.figma.com/img/a713/469c/25d71a72cabca78095afe561961c06f3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T124846Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=f3f9146036d1bb56bfafea9c8982381fc94459c15cd40c6da6db236fc798fc7b") 40% 0 no-repeat;
  background-size: 120%;
}

.post__image_girl {
  background: url("https://s3-alpha.figma.com/img/26c8/c86d/fc8ea0be2acb6ce33c1f6099a60fcda6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T124953Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=36b6c3b9a844184393e2664839d976ecf0a02f6bffe297f98ecc8abf2f89a40a") 30% 0 no-repeat;
  background-size: 150%;
}


/* ------------------- services---------------------------------*/

.news-list-item {
  display: flex;
  align-items: start;
}

.news-list-item__image {
  width: 20%;
  padding-bottom: 15%;
  border: 1px solid #C4C4C4;
}

.news-list-item__image_car {
  background: url("https://s3-alpha.figma.com/img/e18f/27bb/9639cbd019b8a0032d825590d431db07?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T132953Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=030d7473f631764d270080102bcf0eadac3273700f12b994643f15286af382f9") 20% 0 no-repeat;
  background-size: cover;
}

.news-list-item__image_phone {
  background: url("https://s3-alpha.figma.com/img/fd2c/b7a8/bda7499d07d29ee08b52588939e2c703?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T133914Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=78de7298d31c0b4c6b5088898c7da043e0d98fcf2f7493819b3737f94fbf604c") 50% 0 no-repeat;
  background-size: cover;
}

.news-list-item__image_bbc {
  background: url("https://s3-alpha.figma.com/img/c26e/f401/11ee000b1576c1c889a015f6886a4451?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T134135Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=374e413f62972f540e0417bb6419ce18801b133b4a8a98ec4be17dafcd794b19") 50% 0 no-repeat;
  background-size: cover;
}

.news-list-item__text {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.news-list-item__heading {
  margin: 0;
}


/*------------------------clients------------------------------*/

  .clients {
    margin: 0 1rem;
  }

.clients-list {
  display: flex;
}

.clients-list__item {
  width: 20%;
}

.clients-list__image {
  display: flex;
  padding-bottom: 60%;
}

.clients-list__image_html5 {
  background: url("https://s3-alpha.figma.com/img/485e/67c9/970732fd3a404f5f29a19596a667236b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T134826Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=e87cebb40168caa445a482e4e3baa47e161b4920c1695536a1601350518ea99a") center no-repeat;
  background-size: contain;
}

.clients-list__image_html3 {
  background: url("https://s3-alpha.figma.com/img/f6f3/150d/a2cd775dea45593bff9861a4ff221c93?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T135333Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=2d9413bbcbae68cb13bd4c3cbec0ad942093c80a19030464522a7eb9e143406b") center no-repeat;
  background-size: contain;
}

.clients-list__image_node {
  background: url("https://s3-alpha.figma.com/img/7c87/0321/0b43c4cfa1519dd01d96146bde7d46e8?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T135410Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=4e49c96e278c3c0072b3c1eef9f4263994ae3af239b9fc28d8e2100c3f7948c1") 30% 50% no-repeat;
  background-size: contain;
}

.clients-list__image_php {
  background: url("https://s3-alpha.figma.com/img/ad52/d1a3/2cd1b02c3ba5558a6bc24e5a0e95bfbc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T135435Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=5bdbdaf454baa8565fb68510d3040344aed89e7ce7b6d28482e0692f862ce683") center no-repeat;
  background-size: contain;
}

.clients-list__image_sql {
  background: url("https://s3-alpha.figma.com/img/4922/f02b/482433322c61675a9780b9999a2c64a4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK6APQGEHTP6I3PA%2F20180328%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180328T135500Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=b05b51521c23dcdd3ad2a4c42163a40760dca3704d1809110c837d667eafb93b") 50% 30% no-repeat;
  background-size: contain;
}


/*------------------------footer----------------------------------*/

.footer {
  display: flex;
  height: 70px;
  background: #6D3D99;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 0.75rem
}

@media (min-width: 400px) {
  html {
    font-size: 18px;
  }
  .news-list-item__image {
    width: 15%;
    padding-bottom: 15%;
  }
}

@media (min-width: 576px) {
  .menu-toggle,
  .menu .menu-close__link {
    display: none;
  }
  .menu {
    display: none;
  }
  .search_big-screen {
    display: flex;
    height: 20px;
    width: 9rem;
    font-size: 0.875rem;
    align-self: center;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .sm-nav-body {
    display: flex;
    font-size: 0.6rem;
  }
  .sm-nav-body__link {
    display: flex;
    text-decoration: none;
    color: black;
    width: 12.5%;
    justify-content: center;
    margin-bottom: 10px;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.6rem;
  }
  .sm-nav-body__link:hover {
    background: #FFC740;
  }
  .sm-nav-body__link_active {
    background: #FFC740;
    color: white;
  }
  .big-image__heading {
    width: 80%;
  }
  .big-image__text {
    width: 80%
  }
  .post__content {
    display: flex;
    align-items: start;
  }
  .post__image {
    width: 10%;
    padding: 10%;
    margin-right: 3%;
    margin-top: 1.1rem;
  }
  .news-list-item__image {
    width: 10%;
    padding-bottom: 10%;
  }
}

@media (min-width: 768px) {
  .big-image__heading {
    width: 70%;
  }
  .big-image__text {
    width: 60%
  }
  .posts {
    display: flex;
    flex-wrap: wrap;
  }
  .post_half {
    width: 45%;
  }
  .post_third {
    width: 28.5%;
  }
  .news-list-item__image {
    width: 30%;
    padding-bottom: 20%;
  }
  .news-list-item__paragraph {
    text-align: left;
    margin: 0;
  }
}

@media (min-width: 850px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
      max-width: 1260px;
  }
  .logo {
    margin-top: 1rem
  }
  .search_big-screen {
    height: 30px;
    width: 11rem;
    font-size: 0.7rem;
    margin-top: 1rem
  }
  .search__btn_violet {
    height: 32px;
    line-height: 32px;
    font-weight: 400;
    padding: 0 0.5rem;
  }
  .sm-nav-body__link {
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.8rem;
  }
  .sm-nav-body__link_active {
    font-weight: 400;
  }
  .big-image__heading {
    font-size: 3.3rem;
    font-weight: 300;
    line-height: 4rem;
    width: 60%;
  }
  .big-image__text {
    width: 50%;
    margin-top: 0.5rem
  }
  .big-image {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .posts {
    justify-content: space-between;
  }
  .post {
    margin: 0.5rem 0.5rem 3% 0.5rem;
  }
  .post_half {
    width: 47.6%
  }
  .post__image {
    padding: 15%;
    margin-top: 0;
  }
  .post__article {
    font-size: 0.6rem;
    line-height: 0.8rem;
    margin-top: 0;
    font-weight: 400;
  }
  .post_third {
    width: 30.9%
  }
  .news-list-item__image {
    width: 15%;
    padding-bottom: 15%;
    margin-bottom: 1%;
  }
  .clients {
    margin: 0 0.5rem;
  }
  .footer {
    height: 115px;
  }
  .post__paragraph {
    margin-bottom: 1rem;
  }
}